#msgBroadcast {
    background: #780000 !important;
    color: #FFF;
    width: 100%;
}

#liveInitialisation {
    background: #780000;
    color: #FFF;
    width: 100%;
}

#msgBroadcast {
    background: #000000;
    color: #FFF;
    width: 100%;
}

#msgReceived {
    background: #FF0000;
    color: #FFF;
    width: 100%;
}

#msgSent {
    background: #0000FF;
    color: #000;
    width: 100%;
}

.msgPersonSent {
    background: #000;
    color: #fff;
}

.msgPersonReceived {
    background: #2a12a1;
    color: #FFF;
}

.msgSentContent {
    background: #DADADA;
    color: #000;
}

.msgPersonReceived {
    background: #2a12a1;
    color: #FFF;
}

.msgReceivedContent {
    background: #00aaaa;
    color: #000;
}

.roomPerson {
    background: #aaa000;
    color: #000;
}

.roomMessage {
    background: #00fFFF;
    color: #000;
}
