/* Page Loader  Material Bootstrap================================= */
.page-loader-wrapper {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    background: linear-gradient(
            rgba(20, 20, 20, .6),
            rgba(20, 20, 20, .6));
    height: 100%;
    background-size: calc(100% + 50px);
    overflow: hidden;
    text-align: center;
}

.page-loader-wrapper p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
}

.page-loader-wrapper .loader {
    position: relative;
    top: calc(50% - 30px);
}

/* Preloaders  MaterialBootsrap================================== */
.md-preloader .pl-red {
    stroke: #F44336;
}

.md-preloader .pl-pink {
    stroke: #E91E63;
}

.md-preloader .pl-purple {
    stroke: #9C27B0;
}

.md-preloader .pl-deep-purple {
    stroke: #673AB7;
}

.md-preloader .pl-indigo {
    stroke: #3F51B5;
}

.md-preloader .pl-blue {
    stroke: #2196F3;
}

.md-preloader .pl-light-blue {
    stroke: #03A9F4;
}

.md-preloader .pl-cyan {
    stroke: #00BCD4;
}

.md-preloader .pl-teal {
    stroke: #009688;
}

.md-preloader .pl-green {
    stroke: #4CAF50;
}

.md-preloader .pl-light-green {
    stroke: #8BC34A;
}

.md-preloader .pl-lime {
    stroke: #CDDC39;
}

.md-preloader .pl-yellow {
    stroke: #ffe821;
}

.md-preloader .pl-amber {
    stroke: #FFC107;
}

.md-preloader .pl-orange {
    stroke: #FF9800;
}

.md-preloader .pl-deep-orange {
    stroke: #FF5722;
}

.md-preloader .pl-brown {
    stroke: #795548;
}

.md-preloader .pl-grey {
    stroke: #9E9E9E;
}

.md-preloader .pl-blue-grey {
    stroke: #607D8B;
}

.md-preloader .pl-black {
    stroke: #000000;
}

.md-preloader .pl-white {
    stroke: #ffffff;
}

.preloader {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    -webkit-animation: container-rotate 1568ms linear infinite;
    -moz-animation: container-rotate 1568ms linear infinite;
    -o-animation: container-rotate 1568ms linear infinite;
    animation: container-rotate 1568ms linear infinite;
}

.preloader.pl-size-xl {
    width: 75px;
    height: 75px;
}

.preloader.pl-size-l {
    width: 60px;
    height: 60px;
}

.preloader.pl-size-md {
    width: 50px;
    height: 50px;
}

.preloader.pl-size-sm {
    width: 40px;
    height: 40px;
}

.preloader.pl-size-xs {
    width: 25px;
    height: 25px;
}

.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: #F44336;
    -ms-opacity: 1;
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.spinner-layer.pl-red {
    border-color: #F44336;
}

.spinner-layer.pl-pink {
    border-color: #E91E63;
}

.spinner-layer.pl-purple {
    border-color: #9C27B0;
}

.spinner-layer.pl-deep-purple {
    border-color: #673AB7;
}

.spinner-layer.pl-indigo {
    border-color: #3F51B5;
}

.spinner-layer.pl-blue {
    border-color: #2196F3;
}

.spinner-layer.pl-light-blue {
    border-color: #03A9F4;
}

.spinner-layer.pl-cyan {
    border-color: #00BCD4;
}

.spinner-layer.pl-teal {
    border-color: #009688;
}

.spinner-layer.pl-green {
    border-color: #4CAF50;
}

.spinner-layer.pl-light-green {
    border-color: #8BC34A;
}

.spinner-layer.pl-lime {
    border-color: #CDDC39;
}

.spinner-layer.pl-yellow {
    border-color: #ffe821;
}

.spinner-layer.pl-amber {
    border-color: #FFC107;
}

.spinner-layer.pl-orange {
    border-color: #FF9800;
}

.spinner-layer.pl-deep-orange {
    border-color: #FF5722;
}

.spinner-layer.pl-brown {
    border-color: #795548;
}

.spinner-layer.pl-grey {
    border-color: #9E9E9E;
}

.spinner-layer.pl-blue-grey {
    border-color: #607D8B;
}

.spinner-layer.pl-black {
    border-color: #000000;
}

.spinner-layer.pl-white {
    border-color: #ffffff;
}

.right {
    float: right !important;
}

.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 10%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.gap-patch.circle {
    width: 1000%;
    left: -450%;
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
}

.circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    -moz-transform: rotate(129deg);
    -ms-transform: rotate(129deg);
    -o-transform: rotate(129deg);
    transform: rotate(129deg);
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    -moz-transform: rotate(-129deg);
    -ms-transform: rotate(-129deg);
    -o-transform: rotate(-129deg);
    transform: rotate(-129deg);
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -moz-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    -o-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes container-rotate {
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    25% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
    37.5% {
        -webkit-transform: rotate(405deg);
        transform: rotate(405deg);
    }
    50% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
    62.5% {
        -webkit-transform: rotate(675deg);
        transform: rotate(675deg);
    }
    75% {
        -webkit-transform: rotate(810deg);
        transform: rotate(810deg);
    }
    87.5% {
        -webkit-transform: rotate(945deg);
        transform: rotate(945deg);
    }
    to {
        -webkit-transform: rotate(1080deg);
        transform: rotate(1080deg);
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg);
    }
    25% {
        transform: rotate(270deg);
    }
    37.5% {
        transform: rotate(405deg);
    }
    50% {
        transform: rotate(540deg);
    }
    62.5% {
        transform: rotate(675deg);
    }
    75% {
        transform: rotate(810deg);
    }
    87.5% {
        transform: rotate(945deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

@-webkit-keyframes left-spin {
    from {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(130deg);
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@keyframes left-spin {
    from {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
    50% {
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -moz-transform: rotate(130deg);
        -ms-transform: rotate(130deg);
        -o-transform: rotate(130deg);
        -webkit-transform: rotate(130deg);
        transform: rotate(130deg);
    }
}

@-webkit-keyframes right-spin {
    from {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -webkit-transform: rotate(-130deg);
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@-moz-keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

@keyframes right-spin {
    from {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
    50% {
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    to {
        -moz-transform: rotate(-130deg);
        -ms-transform: rotate(-130deg);
        -o-transform: rotate(-130deg);
        -webkit-transform: rotate(-130deg);
        transform: rotate(-130deg);
    }
}

/*feBlend feOffset preloader*/

.myBackgroundImage {
    background-image: url(../images/apple-touch-icon-retina.png);
    background-size: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    box-shadow: none;
}

.userView {
    padding: 32px 32px 0;
    margin-bottom: 2px;
}

.side-nav .userView {
    padding: 16px 16px 0;
}

.side-nav li > a {
    font-weight: 500;
    font-size: 12px;
    height: 40px;
}

.side-nav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.admin {
    margin-top: 15px;
    margin-left: 20px;
}

nav.white {
    max-height: 56px;
}

.card-image {
    margin-top: .3em;
}

/*.card {
    margin-bottom: 0px;
}*/
.main {
    /*margin: 1em;*/
    /*padding: 0 2em;*/
}

.breadcrumb:before {
    margin-right: 0em;
    margin-left: 0em;
    padding-left: 0em;
    padding-right: 0em;
    content: '';
}

.padder {
    padding-left: 1em;
    margin-top: .5em;
}

.nav-icon {
    font-size: small;
    right: 50px;
}

.nav-breadcrumb {
    max-height: 20px;
}

.mainContent {
    padding: 5em 1em .5em 1em;
}

.line {
    margin-bottom: 1em;
}

nav.z-depth-2 {
    margin-bottom: .1em;
}

.page-footer {
    padding-top: 5px;
}

.page-footer .footer-copyright {
    min-height: 50px;
    padding: 1px 0px;
}

header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

#slide-out {
    width: 240px;
}

.content {
    margin-top: 0em;
}

.profile-btn {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #444;
    font-size: 15px;
    display: inline-flex;
}

nav.header {
    height: 48px;
    line-height: 48px;
}

.profile-text {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    line-height: normal;
}

main {
    margin: .5em 0;
}

div.row {
    margin: 0;
}

/*----------------------------------------
    Charts
------------------------------------------*/

#chart-dashboard {
    padding-top: 12px;
}

#chart-dashboard .card .card-content,
#card-stats .card .card-content,
#card-stats .card .card-action {
    padding: 10px 14px;
}

#line-updated {
    /*background: #00bcd4;*/
}

.sample-chart-wrapper {
    width: 100%;
}

.chart-title {
    font-size: 1.6rem;
    font-weight: 300;
}

/* Revenue Chart */

.chart-revenue {
    float: right;
    text-align: center;
    padding: 8px;
    border-radius: 3px;
}

.chart-revenue .chart-revenue-total {
    font-size: 0.9rem;
    margin: 0;
}

.chart-revenue .chart-revenue-per {
    font-size: 0.8rem;
    margin: 0;
}

.chart-revenue .chart-revenue-per i {
    position: relative;
    top: 5px;
}

.chart-revenue-switch {
    padding-top: 28px;
    padding-right: 10px;
    color: #fff;
    text-align: right;
}

/* doughnut chart */
.doughnut-chart-status {
    position: relative;
    top: -75px;
    left: 0;
    font-size: 16px;
    font-weight: 500;
    height: 0px;
    text-align: center;
}

.doughnut-chart-status p {
    margin-top: -5px;
}

.doughnut-chart-legend li {
    padding: 2px 0;
    font-size: 0.9rem;
}

.doughnut-chart-legend li:before {
    content: "";
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    margin-top: 6px;
    margin-right: 4px;
}

li.mobile:before {
    background: #F7464A;
}

li.kitchen:before {
    background: #46BFBD;
}

li.home:before {
    background: #FDB45C;
}

a.button-collapse.top-nav {
    position: absolute;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 32px;
    z-index: 2;
}

/* trending bar chart */

.trending-bar-chart-wrapper {
    width: 100%;
}

.btn-move-up {
    position: relative;
    top: -28px;
    right: -18px;
    margin-right: 10px !important;
}

/* Flot Chart*/

.flotchart-placeholder {
    width: 100%;
    height: 300px;
    font-size: 13px;
    line-height: 1.2em;
}

#flotchart table {
    position: absolute;
    top: 13px;
    right: 17px;
    font-size: smaller;
    color: #545454;
    width: 100px;
}

#flotchart td,
th {
    padding: 5px;
}

/* xCharts */

.xchart-placeholder {
    width: 90%;
    height: 300px;
}

/*Sparkline*/

.tooltip-class {
    overflow: hidden;
    color: #fff;
    height: 20px;
    width: 30px;
}

/**/
#ct2-chart .ct-series.ct-series-a .ct-area {
    fill: #00BCD4;
}

#ct2-chart .ct-series.ct-series-a .ct-point {
    stroke: #00BCD4;
}

#ct2-chart .ct-series.ct-series-a .ct-line {
    stroke: #54E2F4;
}

/*------------------
  Widget
--------------------*/

.socialbox .logo {
    color: #fff;
    font-size: 28px;
    left: 20px;
    bottom: 20px;
    position: absolute;
}

.socialbox .info {
    color: #fff;
    margin: 0;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 15px;
    padding: 0;
}

/*----------------------------------------
    Calender
------------------------------------------*/

#full-calendar {
    padding-top: 30px;
}

#calendar h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    line-height: 35px;
}

#calendar .fc-day-header {
    text-transform: uppercase;
    font-weight: 400;
}

#external-events {
    padding-top: 50px;
}

#external-events .fc-event {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: all-scroll;
    border: none;
}

.fc button {
    background: #fff;
}

.fc td,
.fc th {
    border-width: 0px !important;
}

.fc-state-active,
.fc-state-down {
    color: #ff4081 !important;
}

/*----------------------------------------
    Color Palette for css-color.html page
------------------------------------------*/

.dynamic-color .red,
.dynamic-color .pink,
.dynamic-color .purple,
.dynamic-color .deep-purple,
.dynamic-color .indigo,
.dynamic-color .blue,
.dynamic-color .light-blue,
.dynamic-color .cyan,
.dynamic-color .teal,
.dynamic-color .green,
.dynamic-color .light-green,
.dynamic-color .lime,
.dynamic-color .yellow,
.dynamic-color .amber,
.dynamic-color .orange,
.dynamic-color .deep-orange,
.dynamic-color .brown,
.dynamic-color .grey,
.dynamic-color .blue-grey {
    height: 55px;
    width: 100%;
    padding: 0 15px;
    line-height: 55px;
    font-weight: 500;
    font-size: 12px;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dynamic-color .col {
    margin-bottom: 55px;
}

@media only screen and (max-width: 1024px) {
    tfoot {
        display: none;
    }
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

/* For Tables ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
    .doughnut-chart-status {
        display: none;
    }

    #card-stats .card-stats-compare {
        font-size: 0.8rem;
    }
}

#chart-dashboard .card .card-content {
    height: 120px !important;
}

.card .card-move-up .move-up {
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.margin {
    margin: 0 !important;
}

.topMargin {
    margin-top: 2em;
}

.marginMain {
    margin: 0 .6em;
}

.page-topic {
    padding: .1em 1em;
    margin-bottom: 0;
}

.vPadding-1 {
    padding: .3em .3em;
}

.padder {
    padding: 0em 3em;
}

.show-padder {
    margin-bottom: 1em;
}

.show-padder-bot {
    padding-top: 1em;
    padding-bottom: 1em;
}

.parallax-container {
    height: 240px;
    background: linear-gradient(
            rgba(20, 20, 20, .8),
            rgba(20, 20, 20, .7));
    background-size: calc(100% + 50px);
}

h1.department {
    top: 160px;
    position: absolute;
    display: inline-block;
    align-content: center;
    text-align: center;
    left: 8em;
}

h4.school {
    top: 240px;
    position: absolute;
    display: inline-block;
    align-content: center;
    text-align: center;
    left: 20.5em;
}
