body {

    padding-left: 5em;
    padding-right: 5em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background: linear-gradient(
            rgba(20, 20, 20, .5),
            rgba(20, 20, 20, .5)),
    url("../images/image/grds.jpg");
    height: 100%;
    background-size: calc(100% + 50px);
}

main {
    flex: 1 0 auto;
}

.container {
    width: 100%;
}

/*.card:hover {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);

}*/

.row {
    margin-bottom: 0;
}

.page-footer {
    margin-top: 5px;
    padding-bottom: 5px;
}

/*.card {
    margin: 0;
    height: 522px;
}*/

.row .col.push-s1 {
    left: 4%;
}

.slider {
    z-index: -1;
}

nav, .card {
    box-shadow: none;
}

nav {
    margin-top: 2.5em;
    z-index: 0;
}

div.grey {
    opacity: .4;
    color: #fff;
}

.form {
    padding: 1em 3em;
}

.steps {
    min-height: 440px;
}

.summary {
    margin-top: 1em;
}